*{
  box-sizing: border-box;
}

body{
  margin: 0;
  word-wrap: break-word;
}

body h1{
  text-align: center;
  margin-top: 20px;
}

body h2{
  margin-top: 30px;
  margin-left: 5px;
}

label{
  margin-left: 5px;
}

input{
  display: block;
  padding: 7px;
  color: black;
  margin-bottom: 30px;
  margin-left: 5px;
}

body a{
  background: red;
  color: #ffffff;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  padding: 7px;
  cursor: pointer;
  margin-left: 5px;
}

.botao{
  background-color: blue;
}

@media only screen and (max-width: 350px){
  body h1{
    font-size: 28px;
  }
  body a{
    display: flex;
    max-width: 45%;
    margin-left: 10px;
    margin-bottom: 3px;
  }
  input{
    max-width: 80%;
  }
}
 
